html {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    width:100%;
    text-decoration: none;

}

div, h1, p, h2, h3 {
    color: white;
    font-weight: 100;
}

h1 {
    font-size: 1em;
    padding-top: 2em;
}

h2 {
    text-shadow: #000000;
    text-align: center;
}

li {
    list-style: none;
    text-decoration: none;
}

p, span {
    font-size: 0.5em;
}

button {
    font-size: 0.4em;
    background-color: #288fc5;
    border-radius: 5px;
    border: 1px solid #3696c6;
    cursor: pointer;
    width: 13em;
    display: inline-flex;
    color: #ffffff;
    margin-bottom: 5px;
}

button img {
    padding-left: 4em;
    height: 1em;
    width: auto;
}

.auto-margin {
    /*padding-left: 13em;*/
    margin: auto;
    width: 50%;
    padding-left: 6em;
    padding-bottom: 1em;

}

.header {
    top: 0px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px #888888;
    box-sizing: border-box;
    height: 50px;
    width:100%;
    position: fixed;
    z-index: 1;
}

.header a {
    text-decoration: none;
}

.header img {
    padding-top: 5px;
}

.header nav {
    padding-left: 2em;
}

.right-nav, .left-nav, nav a{
    display: inline;
    text-decoration: none;
    color: #999a95;
    font-size: 0.5em;
}

nav>a:after,  .right-nav>a:first-of-type:after{
    content: '|';
    padding-left: 0.4em;
    padding-right: 0.4em;
    color: #d1d1d1;
}

nav>a:last-of-type:after{
    content: '';
}

.right-nav {
    display: inline-block;
    position: fixed;
    padding-left: 0.5em;
    padding-top: 2px;
    width: auto;
}

.search-bar {
    margin-top: 1.1em;
}

.search-box {
    border-style: solid none solid solid;
    border-color:#e7e7e7;
    border-width:1px;
    -moz-border-radius-bottomleft: 2px;
    width: 120px;
    border-radius: 8px;
}

#search-txt {
    width:85px;
    border:0px solid;
    height:13px;
    padding:0px 0px;
    position:relative;
    border-left-color: #4fa7c8;
}

#search-btn {
    border-style: none;
    background: url('../image/searchBtn.png') no-repeat;
    background-position: 1em;
    background-size: 7px;
    width: 18px;
    height: 12px;
}

.section-1 {
    width: 100%;
    padding-bottom: 10px;
    float: left;
    background-image: url('../image/slide-bg-complexity.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% ;
    background-position: center;
    background-position-y: 0em;
    background-position-x: 0em;
}

.section-1 div span {
    font-weight: 500;
    font-size: 1em;
}

.section-1 div p {
}

.main-box {
    z-index: -1;
}

.main-box li p {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.45em;
}

.main-box ul {
    padding-left: 0;
}

.main-box li {
    border-radius: 3px;
    box-shadow: 0px 1px 1px #888888;
    box-sizing: border-box;
    width: 150px;
    height: 80px;
    float: left;
    opacity: 0.9;
    margin-right: 10px;
}

.main-box img {
    float: left;
    padding-left: 5px;
    width: 15px;
    height: 15px;
    bottom: 0px;
}

.pink {
    background-color: #f8479c;
}

.grin {
    background-color: #6dc246;
}

.orange {
    background-color: #fd752c;
}

.services {
    height: auto;
    background-color: #4fa7c8;
    padding: 0em;
    padding-top: 3.5em;
    padding-bottom: 2em;
}

h2 {
    text-align: center;
    font-weight: 100;
    font-size: 1em;
    padding-top: 10em;
}

.auto-margin ul{
    padding-left: 0em;
}

.services-icons li, .events li {
    display: block;
    float: left;
    width: 15%;
    padding-left: 0em;
}

.services-icons {
    padding-bottom: 3em;
    padding-top: 0em;
}

.services-icons ul>button {
    padding-left: 3em;
}

.services-icons li img {
    width: auto;
    height: 40px;
    margin: auto;
}

.btn-info {
    position: absolute;
}

li span {
    display: block;
    font-size: 0.4em;
    padding-left: 0;
    width: auto;
    text-align: center;
}

.events {
    width: 100%;
    height: auto;
    float: left;
    background-image: url('../image/news-and-events-bg.jpg');
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-size: 100% ;
    background-position-y: 0;
    background-position-y: 0;

    color: #222222;
}

.events .auto-margin h2{
    padding-top: 0em;
}

.main-event-box li {
    margin-right: 3em;
    margin-top: 0em;
    margin-left: 1em;
}

#trans {
    color: transparent;
}

.auto-margin-events h2 {
    padding-top: 0em;
}

h3 {
    font-size: 0.8em;
}

.event-box {
    background-color: #a59b93;
    width: 14em;
    height: 4.5em;
    float: left;
    letter-spacing: 1px;
    font-size: 0.5em;
    opacity: 0.9;
}

.date {
    float: left;
    background-color: #399aca;
    box-sizing: border-box;
    margin: 0.5em;
    width: 3em;
    height: 3.7em;
    font-size: 1em;
    opacity: 0.9;
}

#num {
    font-size: 2em;
    text-align: center;
    padding-left: 0.2em;
}

#month {
    border-top: thin solid #ffffff;
    border-bottom-style: hidden;
    text-align: center;
    font-size: 1em;
    padding-left: 0.7em;
}

.event-under-box img {
    width: 12px;
    height: 12px;
    display: block;
    float: left;
    padding-left: 0em;
    padding-top: 0.5em;
}

.event-under-box {
    display: block;
    float: left;
}

.event-under-box p{
    display: block;
    float: left;
    padding-left: 1em;
    text-align: left;
    color: #ffffff;
}

.stories {
    text-align: center;
    height: auto;
    background-color: #ececec;
}

.style_box {
    background-color: #ffffff;
    box-sizing: border-box;
    width: 180px;
    height: 80px;
    float: left;
    letter-spacing: 1px;
    font-size: 12px;
    opacity: 0.9;
    display: block;
    float: left;
}

footer {
    padding-left: 13em;
    background: #222222;
}

.links-col, .links-col a {
    display: inline;
    float: left;
    color: #f6f6f6;
    font-size: 0.7em;
    padding-left: 0;
    padding-bottom: 1em;
    text-decoration: none;
}

footer p {
    color: #a8a8a8;
    clear: both;
    width: 100%;
    text-align: left;
}
