/*General*/
/*Clearfix settings*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


html {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    position: relative;
    box-sizing: border-box;
}

h1, h2 {
    font-weight: 100;
    text-align: center;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.auto-margin {
    margin: 0 auto;
    width: 960px;
}

.header {
    top: 0px;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px #888888;
    box-sizing: border-box;
    height: auto;
    position: fixed;
    z-index: 1;
    padding-top: 1em;
    width: 100%;
    list-style-type: none;
    overflow: visible;
}

.header img {
    padding-top: 0.3em;
    width: 17em;
    height: auto;
}

/*.header nav {
    padding-left: 5rem;
    position: relative;
    top: 1px;
    margin: 5%;
}

.left-nav, nav a{
    display: inline;
    text-decoration: none;
    color: #585951;
    font-size: 1em;
}*/

ul.left-nav {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    padding-left: 0px;
}

.left-nav > li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
}

.left-nav > li a {
    color: #585951;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-size: 1.3em;
    padding: 1em 1em 0 1em;

}

.left-nav > li > a {
    font-weight: 100;
}

.left-nav > li:hover,
.left-nav > li:focus {
    color: #288fc5;
    border-top: 0.1px solid rgb(193, 183, 197);
    border-right: 0.1px solid rgb(193, 183, 197);
    border-bottom-style: none;
    border-left: 0.1px solid rgb(193, 183, 197);
    box-shadow: 8px 0px 10px 0px rgba(0,0,0,0.2);
    height: 4em;
    padding-bottom: 0;
    overflow: visible;
    z-index: 0;
    padding-right: 10px;
}

.sub-menu {
    border-top: none;
    display: none;
}

.left-nav ul a {
    background-color: #ffffff;
    text-align: left;
    float: left;
    display: inline-block;
    top: 3.5em;

}

.left-nav ul a:hover,
.left-nav ul a:focus {
    color: blue;
}

.left-nav > li:hover > div {
    display: block;
    background-color: #ffffff;
    margin-top: 0.3em;
    position: absolute;
    top: 8.3em;
    left: 13em;
    width: 960px;
    height: 30em;
    line-height: 1em;
    border-bottom: 0.1px solid rgb(193, 183, 197);
    border-right: 0.1px solid rgb(193, 183, 197);
    border-top-style: none;
    border-left: 0.1px solid rgb(193, 183, 197);
    box-shadow: 0px 0 10px 0px rgba(0,0,0,0.2);
}

.sub-menu ul{
    display: inline-block;
    vertical-align: top;
    padding-top: 1.5em;
}

.sub-menu ul img {
    width: 340px;
    height: auto;
    position: absolute;
    right: 0;
    top: 2em;
    padding-right: 2em;
}

/*.left-nav>a:after {
    padding-left: 1em;
    padding-right: 2em;
    color: #d1d1d1;
}*/

li > div > ul:nth-child(3):after {
    content: url("./../image/line_divider_video.png");
    display: inline-block;
    vertical-align: bottom;
    height: 20px;
    width: 1px;
    position: absolute;
    right: 40em;
}

.right-nav {
    color: #585951;
    font-size: 1.3em;
}

.right-nav>a:last-of-type:before{
    content: '';
}

.user-p {
    float: right;
}

.search-bar {
    margin-top: 3.1em;
    padding-bottom: 1em;
}


.search-box {
    border-style: solid none solid solid;
    border-color:#e7e7e7;
    border-width:1px;
    -moz-border-radius-bottomleft: 2px;
    width: 140px;
    border-radius: 8px;
}

#search-txt {
    width:105px;
    border:0px solid;
    height:13px;
    padding:0px 0px;
    position:relative;
    border-left-color: #4fa7c8;
}

#search-btn {
    border-style: none;
    background: url('../image/searchBtn.png') no-repeat;
    background-position: 1em;
    background-size: 7px;
    width: 18px;
    height: 12px;
}

.section-1 {
    width: 100%;
    float: left;
    background-image: url('../image/slide-bg-complexity.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    padding-bottom: 1em;
    position: relative;
    margin-bottom: 0;
    margin-top: 8em;
    color: #ffffff;
}

.screen2 {
    display:none;
}

.section-1 h1 {
    margin-bottom: 0;
    text-align: left;
    font-size: 3.5em;
}

.section-1 span {
    font-weight: 500;
}

.section-1 p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 2em;
    font-weight: 100;
}

.btn {
    width: 100px;
    cursor: hand;
    position: relative;
    background-color: #288fc5;
    border-radius: 5px;
    padding: 0.1em 0.1em;
    padding-right: 0.5em;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    transition: all .1s linear;
}

.btn p {
    padding-left: 0.5em;
    font-size: 1em;
}

.btn img{
    width: 5px;
    height: auto;
    position: absolute;
    right: 0;
    float: left;
    top: 30%;
    padding-right: 0.5em;

}

.small-btn li {
    list-style: none;
    cursor: hand;
    margin-top: 1em;
    margin-right: 1em;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    box-shadow: #e5e5e5;
    background-image: -webkit-linear-gradient(top, #e5e5e5, #b6c7da);
    background-image: -moz-linear-gradient(top, #e5e5e5, #b6c7da);
    background-image: -ms-linear-gradient(top, #e5e5e5, #b6c7da);
    background-image: -o-linear-gradient(top, #e5e5e5, #b6c7da);
    background-image: linear-gradient(to bottom, #e5e5e5, #b6c7da);
}

.small-btn li:hover {
    list-style: none;
    cursor:pointer;
    margin-top: 1em;
    margin-right: 1em;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    box-shadow: #288fc5;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
}

/*Sliders design*/


.main-box {
    margin-top: 10em;
}

.main-box ul, .links ul, .stories ul {
    padding-left: 0;
}

.main-box li p {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.8em;
    font-weight: 100;
    margin-bottom: 1.5em;
}

.main-box li {
    border-radius: 3px;
    box-shadow: 0px 1px 1px #888888;
    box-sizing: border-box;
    width: 32%;
    height: 120px;
    float: left;
    opacity: 0.9;
}

.main-box li:nth-child(2) {
    margin-left: 2%;
    margin-right: 2%;
}

.main-box li:hover {
    opacity: 1.0;
}

.main-box span {
    font-size: 1.3em;
    font-weight: 100;
    position: absolute;
    bottom: 1.8em;
    padding-left: 3.5em;
}

.main-box img {
    padding-left: 1.5em;
    padding-right: 1em;
    width: 2em;
    height: auto;
    position: absolute;
    bottom: 2em;
}

.btn span {
    font-size: 3em;
}

.pink {
    background-color: rgb(250, 66, 158);
}

.grin {
    background-color: rgb(104, 192, 56);
}

.orange {
    background-color: rgb(225, 116, 20);
}

.services {
    background-color: #4fa7c8;
    background-image: url('../image/solutions-bg.png');
    background-attachment: fixed;
    padding-bottom: 2em;
    width: 100%;
    height: auto;
    float: left;
    color: #ffffff;
}

h2 {
    font-size: 3em;
}

.main-event-box{
    padding-left: 0em;
    margin: 0 auto;
}

.services-icons ul{
    padding-left: 0;
}

.margin-services {
    text-align: center;
    margin: 0 auto;
}

.services-icons li {
    display: inline-block;
    width: 15%;
    margin-right: 1%;
    padding-bottom: 3em;
}

.services-icons li:last-child {
    margin-right: 0;
}

ul.services-icons {
    padding-left: 0;
}

.services-icons img {
    width: auto;
    height: 60px;
    margin-bottom: 3em;
}

.services-icons span {
    display: block;
    font-size: 0.4em;
}

.services .btn {
    width: 110px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.events {
    position: relative;
    width: 100%;
    height: auto;
    float: left;
    background-image: url('../image/news-and-events-bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding-bottom: 1em;
    color: #ffffff;
}


.main-event-box li {
    display: inline-block;
    margin-right: 1.5em;
    margin-top: 0em;
    width: 32%;
    margin-bottom: 2em;
}

.main-event-box li:last-child {
    margin-right: 0;
}

.event-box:hover {
    background-color: #f6f6f6;
}

.event-box p {
    color: #000000;
}

.main-event-box p{
    font-size: 2em;
    font-weight: 100;
}

#trans {
    color: transparent;
}

.event-box {
    background-color: #a59b93;
    float: left;
    letter-spacing: 1px;
    font-size: 0.5em;
    opacity: 0.9;
    margin-bottom: 0.5em;
}

.date {
    float: left;
    background-color: #399aca;
    box-sizing: border-box;
    margin: 0.5em;
    width: 45px;
    height: 55px;
    font-size: 1em;
    opacity: 0.9;
    box-shadow: 0px 1px 2px #888888;
    padding-left: 0.5em;
    margin-top: 0.8em;

}

#num {
    font-size: 6em;
    text-align: center;
}

#month {
    border-top: 0.5px dotted #ffffff;
    border-bottom-style: hidden;
    text-align: center;
    font-size: 3em;
}

.event-under-box {
    display: block;
}

.event-under-box img {
    width: 12px;
    height: 12px;
    display: block;
    float: left;
    padding-top: 0.65em;
}

.event-under-box p {
    display: block;
    float: left;
    text-align: left;
    color: #ffffff;
    font-size: 0.3em;
    margin-bottom: 0;
    margin-top: 0.85em;
    padding-left: 0.5em;
}

.stories {
    background-color: #ececec;
    padding-bottom: 2em;
    position: relative;
    width: 100%;
    height: auto;
    float: left;
    margin: 0 auto;
}

.quats > p:before,
#thumb-2 > .quats > p:after {
    content: url("./../image/quote-grey.png");
    padding-right: 1em;
}

ul.style_box {
    padding-left: 0;
}

.style_box li {
    float: left;
    margin-right: 0.65em;
}

#thumb-1 {
    background-color: #ffffff;
    padding: 0.5em 0.5em;
    color: #808080;
    width: 320px;
    margin-bottom: 0.5em;

    display: block;
    transition-duration: 0.2s;
    position: relative;
    overflow: hidden;
}

/*Hover quots*/
/*///////////*/

#thumb-1-back, #thumb-2-back {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    -webkit-transition: top 0.4s ease-in-out;
    left: 0;

    background-color: #399aca;
    color: #ffffff;
}

#thumb-1-back > blockquote,
#thumb-2-back > blockquote {
    width: 1000px;
}

#thumb-1-back:before, #thumb-1-back:after,
#thumb-2-back:before, #thumb-2-back:after{
    content: url("./../image/quote-blue.png");
    padding-right: 1em;
}

#thumb-1:hover #thumb-1-back,
#thumb-2:hover #thumb-2-back{
    top: 0;
    display: inline-block;
}

#thumb-2 {
    background-color: #ffffff;
    padding: 0.5em 0.5em;
    color: #808080;
    width: 210px;
    margin-bottom: 0.5em;

    display: block;
    transition-duration: 0.2s;
    position: relative;
    overflow: hidden;
}

#thumb-1 .quats {
    padding-left: 3.5em;
    width: 245px;
    line-height: 2em;
    font-size: 1.5em;
}

#thumb-2 .quats {
    padding-left: 1em;
    width: 180px;
    line-height: 2em;
    font-size: 1.5em
}

#thumb-1 a img{
    width: auto;
    display: block;
    float: left;
    margin-right: 10px;
    height: 90px;
}

#first-img {
    width: auto;
    display: block;
    float: left;
    margin-right: 10px;
    height: 20px;
}

#thumb-1 .quats img {
    float: left;
    height: 20px;
}

#thumb-1 .employee, #thumb-2 .employee {
    float: left;
    position: relative;
}

#thumb-1 .info .employee img, #thumb-2 .employee img {
    position: absolute;
    right: 0;
}

#thumb-1 .quats, #thumb-2 .quats {
    border-bottom: 0.5px solid #d3d3d3;
}

h5 {
    color: #3aa6db;
    margin-bottom: 0;
    margin-top: 0.6em;
}

#thumb-1 .info p, #thumb-2 .info p {
    margin-top: 0;
}

.center-col #thumb-1 {
    margin-top: 0.4em;
}

/*Hover small pics - stories*/
/*//////////////////////////*/

.pics {
    display: inline-table;
    transition-duration: 0.2s;
    position: relative;
    overflow: hidden;
}

.back {
    position: absolute;
    top: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    -webkit-transition: top 0.4s ease-in-out;
    left: 0;
}

.pics:hover .back {
    top: 0;
    display: block;
}


footer {
    background: #222222;
    padding-bottom: 0.5em;
}

.links {
}

.links-col {
    float: left;
    color: #f6f6f6;
    font-size: 1em;
    padding-bottom: 1em;
    margin-right: 7em;
    line-height: 2em;
    font-weight: 100;
}

.links-col a {
    color: #f6f6f6;
    font-size: 1em;
    padding-bottom: 1em;
}

.blog {
    position: relative;
}

.blog-post {
    background-color: #3e3e3e;
    background-attachment: fixed;
    padding-bottom: 2em;
    width: 280px;
    height: auto;
    float: left;
    color: #ffffff;
}

h4 {
    font-size: 1.5em;
    color: #399aca;
    text-align: center;
}

.blog.date {
    float: left;
    width: 45px;
    height: 55px;
    font-size: 1em;
    opacity: 0.9;
    padding-left: 0.5em;
    margin-top: 0.8em;
}

.blog-post #num {
    font-size: 6em;
    text-align: center;
}

.blog-post #month {
    border-bottom-style: hidden;
    text-align: center;
    font-size: 3em;
}

footer p {
    color: #a8a8a8;
    clear: both;
    width: 100%;
}


/*.pics:hover {
    border-color:#b32f01;
    background:#ffffff;
    -webkit-transition: color background 0.2s ease-in-out;
    -moz-transition: color background 0.2s ease-in-out;
    -ms-transition: color background -0.8s ease-in-out;
    -o-transition: color background 0.2s ease-in-out;
    transition: color background 0.2s ease-in-out;
    cursor:pointer;
    color:#cacaca;
}

.pics:hover img {
    opacity:0.4;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity -0.8s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}*/
