html {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    padding-left: 0;
    width:100%;

}

.header {
    top: 0px;
    overflow: hidden;
    padding-left: 10em;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px #888888;
    box-sizing: border-box;
    height: 50px;
    width:100%;
    display: block;
    position: fixed;
}

.header img {
    width: 5.5em;
    height: 1.5em;
    padding-top: 5px;
    padding-right: 1em;
}

.header nav, nav a {
    display: inline;
    text-decoration: none;
    color: #999a95;
    font-size: 0.7em;
}

nav>a:after {
    content: '|';
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #d1d1d1;
}

nav>a:last-of-type:after {
    content: '';
}

.left-header {
    display: inline-block;
    position: fixed;
    padding-left: 2em;
    padding-top: 0.5em;
    font-size: 0.9em;
}

.search-bar {
    padding-top: 10px;
}


.sub1 {
    border-style: solid none solid solid;
    border-color:#e7e7e7;
    border-width:1px;
    -moz-border-radius-bottomleft: 5px;
}

#subsub1 {
    width:60px;
    border:0px solid;
    height:13px;
    padding:0px 3px;
    position:relative;
}

.sub2 {
    border-style:solid;
    border-color:#e7e7e7;
    border-width:1px;
}

#subsub2 {
    border-style: none;
    background: url('../image/searchBtn.png') no-repeat;
    background-position: center;
    width: 18px;
    height: 12px;
}

li {
    list-style: none;
}

.section-1 {
    width: 100%;
    left: 40%;
    padding-bottom: 10px;
    float: left;
    background-image: url('../image/slide-bg-complexity.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% ;
    background-position: center;
    background-position-y: 70px;
    padding-top: 50px;
}

.section-1 div {
    padding-left: 22%;
    width: 50%;
}

div h1, p, h2 {
    color: white;
    font-weight: 100;
}

div span {
    display: block;
}

div p {
    font-size: 70%;
    letter-spacing: 1px;
}

button {
    font-size: 10px;
    background-color: #288fc5;
    border-radius: 5px;
    border: 1px solid #3696c6;
    cursor: pointer;
    width: 140px;
    display: inline-flex;
    color: #ffffff;
}

.triangle {
    padding-right: 0px;
    border-top: 3px solid transparent;
    border-left: 6px solid white;
    border-bottom: 3px solid transparent;
    text-align: center;
}

.btn-info {
    float: left
}

.main-box {
    padding-left: 22%;
    width: 70%;
}

.main-box li p {
    padding-left: 7px;
}

.main-box ul {
    padding-left: 0px;
}

.main-box li {
    border-radius: 3px;
    box-shadow: 0px 1px 1px #888888;
    box-sizing: border-box;
    padding-bottom: 10px;
    width: 180px;
    height: 100px;
    float: left;
    font-size: 12px;
    opacity: 0.9;
    margin-right: 10px;
}

.main-box img {
    float: left;
    padding-left: 5px;
    width: 15px;
    height: 15px;
    padding-bottom: 0px;
}

.pink {
    background-color: #f8479c;
}

.grin {
    background-color: #6dc246;
}

.orange {
    background-color: #fd752c;
}

.services {
    text-align: center;
    height: 600px;
    background-color: #4fa7c8;
}

h2 {
    font-weight: 100;
    font-size: 30px;
    width: 100%;
    left: 40%;
    padding-bottom: 10px;
    float: left;
}

ul {
    padding-left: 25%;
}

.services li, .events li {
    display: block;
    float: left;
}

li span {
    display: block;
    font-size: 10px;
    padding-left: 10px;
    width: 90px;
}

li img {
    width: 70px;
    height: 70px;
}

.events {
    width: 100%;
    left: 40%;
    padding-bottom: 10px;
    float: left;
    background-image: url('../image/news-and-events-bg.jpg');
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-size: 100% ;
    background-position: center;
    background-position-y: 0px;
    text-align: center;
}

h3 {
    float: left;
    font-weight: 100;
}

.event-box {
    background-color: #a59b93;
    box-sizing: border-box;
    width: 180px;
    height: 60px;
    float: left;
    letter-spacing: 1px;
    font-size: 12px;
    opacity: 0.9;
}


.date {
    float: left;
    background-color: #399aca;
    box-sizing: border-box;
    margin: 5px;
    width: 40px;
    height: 50px;
    letter-spacing: 1px;
    font-size: 12px;
    opacity: 0.9;
}

.date a {
    color: #ffffff;
    float: left;
    line-height: 5px;
    margin-left: 0px;
    border-bottom: solid #ffffff;
    border-bottom-width: 1px;
    margin-bottom: 0px;
}

#num {
    font-size: 32px;
    margin-bottom: 5px;
}

#month {
    padding-left: 5px;
    border-top: #ffffff;
    border-bottom: hidden;

}

.main-event-box li {
    width: 180px;
    margin: 5px;
    padding-left: 0px;
}

.main-event-box img {
    padding-top: 12px;
    width: 10px;
    height: 10px;
    display: block;
    float: left;
}

.main-event-box p {
    display: block;
    float: left;
    padding-left: 7px;
    width: 100px;
    text-align: left;
    color: black;
}

#footer {
    color: #ffffff;
}

.stories {
    text-align: center;
    height: 600px;
    background-color: #ececec;
    display: block;
}

.style_box {
    background-color: #ffffff;
    box-sizing: border-box;
    width: 180px;
    height: 80px;
    float: left;
    letter-spacing: 1px;
    font-size: 12px;
    opacity: 0.9;
}







footer {
    padding: 40px 20px 0px 20px;
}

.links-col {
    display: inline;
    float: left;
}

footer p {
    color: #a8a8a8;
    clear: both;
    width: 100%;
    text-align: left;
}
