html {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    width:100%;
}

div, h1, p, h2 {
    color: white;
}

h1 {
    font-size: 1em;
    padding-top: 1em;
}

li {
    list-style: none;
    text-decoration: none;

}

p {
    font-size: 0.45em;
}

button {
    font-size: 0.4em;
    background-color: #288fc5;
    border-radius: 5px;
    border: 1px solid #3696c6;
    cursor: pointer;
    width: 18em;
    display: inline-flex;
    color: #ffffff;
}

button img {
    padding-left: 8em;
}

.header {
    top: 0px;
    overflow: hidden;
    padding-left: 13em;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px #888888;
    box-sizing: border-box;
    height: 50px;
    width:100%;
    display: block;
    position: fixed;
}

.header img {
    padding-top: 5px;
    padding-right: 1em;
}

.right-nav, .left-nav, nav a{
    display: inline;
    text-decoration: none;
    color: #999a95;
    font-size: 0.6em;
}

nav>a:after,  .right-nav>a:first-of-type:after{
    content: '|';
    padding-left: 0.4em;
    padding-right: 0.4em;
    color: #d1d1d1;
}

nav>a:last-of-type:after{
    content: '';
}

.right-nav {
    display: inline-block;
    position: fixed;
    padding-left: 2em;
    padding-top: 2px;
    width: 500px;
}

.search-bar {
    margin-top: 1.1em;
}

.search-box {
    border-style: solid none solid solid;
    border-color:#e7e7e7;
    border-width:1px;
    -moz-border-radius-bottomleft: 2px;
    width: 120px;
    border-radius: 8px;
}

#search-txt {
    width:85px;
    border:0px solid;
    height:13px;
    padding:0px 3px;
    position:relative;
    border-left-color: #4fa7c8;
}

#search-btn {
    border-style: none;
    background: url('../image/searchBtn.png') no-repeat;
    background-position: 1em;
    background-size: 7px;
    width: 18px;
    height: 12px;
}

.section-1 {
    width: 100%;
    left: 40%;
    padding-bottom: 10px;
    float: left;
    background-image: url('../image/slide-bg-complexity.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% ;
    background-position: center;
    background-position-y: 0em;
    background-position-x: -2em;
}

.section-1 {
    padding-left: 13em;
}

div span {
    display: block;
}

div p {
    padding-top: 0px;
}

.main-box li p {
    padding-left: 1em;
    font-size: 0.5em;
}

.main-box ul {
    padding-left: 0;
}

.main-box li {
    border-radius: 3px;
    box-shadow: 0px 1px 1px #888888;
    box-sizing: border-box;
    width: 150px;
    height: 80px;
    float: left;
    opacity: 0.9;
    margin-right: 10px;
}

.main-box img {
    float: left;
    padding-left: 5px;
    width: 15px;
    height: 15px;
    bottom: 0px;
}

.pink {
    background-color: #f8479c;
}

.grin {
    background-color: #6dc246;
}

.orange {
    background-color: #fd752c;
}
/*
.services {
    text-align: center;
    height: 600px;
    background-color: #4fa7c8;
}

h2 {
    font-weight: 100;
    font-size: 30px;
    width: 100%;
    left: 40%;
    padding-bottom: 10px;
    float: left;
}

ul {
    padding-left: 25%;
}

.services li, .events li {
    display: block;
    float: left;
}

li span {
    display: block;
    font-size: 10px;
    padding-left: 10px;
    width: 90px;
}

.events {
    width: 100%;
    left: 40%;
    padding-bottom: 10px;
    float: left;
    background-image: url('../image/news-and-events-bg.jpg');
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-size: 100% ;
    background-position: center;
    background-position-y: 0px;
    text-align: center;
}

h3 {
    float: left;
    font-weight: 100;
}

.event-box {
    background-color: #a59b93;
    box-sizing: border-box;
    width: 180px;
    height: 60px;
    float: left;
    letter-spacing: 1px;
    font-size: 12px;
    opacity: 0.9;
}


.date {
    float: left;
    background-color: #399aca;
    box-sizing: border-box;
    margin: 5px;
    width: 40px;
    height: 50px;
    letter-spacing: 1px;
    font-size: 12px;
    opacity: 0.9;
}

.date a {
    color: #ffffff;
    float: left;
    line-height: 5px;
    margin-left: 0px;
    border-bottom: solid #ffffff;
    border-bottom-width: 1px;
    margin-bottom: 0px;
}

#num {
    font-size: 32px;
    margin-bottom: 5px;
}

#month {
    padding-left: 5px;
    border-top: #ffffff;
    border-bottom: hidden;

}

.main-event-box li {
    width: 180px;
    margin: 5px;
    padding-left: 0px;
}

.main-event-box img {
    padding-top: 12px;
    width: 10px;
    height: 10px;
    display: block;
    float: left;
}

.main-event-box p {
    display: block;
    float: left;
    padding-left: 7px;
    width: 100px;
    text-align: left;
    color: black;
}

#footer {
    color: #ffffff;
}

.stories {
    text-align: center;
    height: 600px;
    background-color: #ececec;
    display: block;
}

.style_box {
    background-color: #ffffff;
    box-sizing: border-box;
    width: 180px;
    height: 80px;
    float: left;
    letter-spacing: 1px;
    font-size: 12px;
    opacity: 0.9;
}*/


footer {
    padding-left: 13em;
    background: #222222;
}

.links-col, .links-col a {
    display: inline;
    float: left;
    color: #f6f6f6;
    font-size: 0.7em;
    padding-left: 0;
    padding-bottom: 1em;
    text-decoration: none;
}

footer p {
    color: #a8a8a8;
    clear: both;
    width: 100%;
    text-align: left;
}
